#canvas1 {
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 1000px;
  width: 500px;
}

#canvas2 {
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 1000px;
  width: 500px;
}

